/* Modal */

.modal {
  max-width: 360px;
  margin: 200px auto;
}

.modal-wrapper {
  margin: 45px 36px 65px 36px;
}

.modal-logo-top {
  margin-bottom: 40px;
}

.modal-title {
  font-size: var(--fs-mob);
  font-weight: var(--fw-secondary);
  text-align: center;
  margin-bottom: 25px;
}

.modal-text {
  font-size: var(--fw-secondary);
  margin-bottom: 15px;
  line-height: 21px;
  margin-bottom: 15px;
}

.modal-form-email {
  display: block;
  margin-bottom: 15px;
}

.modal-buttons-wrapper {
  display: flex;
  margin-bottom: 15px;
}

.button-modal-send {
  border: 1px solid var(--c-light-grey);
  border-radius: 5px;
  background: var(--c-gradient);
  padding: 12px 17px;
  color: var(--c-white);
  font-size: var(--fs-primary);
}

.button-modal-cancel {
  border: none;
  background: transparent;
  color: var(--c-white);
  padding: 0 38px;
}
